.properties {
  padding: 0.5rem;
}

.properties > .col {
  display: inline-block;
  width: 33.33%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.searchform {
  padding: 10px;
  margin: 0px 0px 0px 25px;
}

